@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Mono', monospace;
}
:root{
    --text-color: rgb(215, 228, 142);
    --title-size: 15rem; 
    --background-color: #3b4c57;
    --btn-color:rgb(159, 219, 141); /* for link btns */
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
}
a{
    text-decoration:none;
    z-index: 10;
    color: rgb(159, 219, 141);
}


/* nav bar */
#nav{
    display: inline-flex;
    flex-direction: row;
    background-color: var(--background-color);
    border-bottom: 1px solid white;
    width: 100%;
    height: 70px;
    align-items: center;
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 100;
}
#right{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
}
#right + *{
    margin-left: auto;
    padding-right: 5vw;
}

/* main */

section{
    padding: 5vh 0 10vh 0;
    display: grid;
    grid-template-columns: 50vw auto;
    grid-template-areas: "title main";
    color: var(--text-color);
    background-color: var(--background-color);
    min-height: fit-content;
   
}
section > h1{
    color: var(--text-color);
    grid-area: title;
    margin-left: 10vw;
}
section >h1 ~ *{
    grid-area: main;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-self: start;
    gap: 1vh;
    text-align: center;
    
}



#title{
    display: flex; /* flex for title*/
    width: 100%;
    height: calc(100vh - 70px);
    gap: 3rem;
}
#Aleksandrs{
    grid-area: title;
    align-self: center;
    height: auto;
    width: 25%;
    min-width: 7rem;
    max-width: 16rem;
    border-radius: 50%;
    margin-left: 10vw;
    border: 0.1px solid;
}
#title div{
    grid-area: main;
    display: block;
    width: 100%;
    height:  calc(var(--title-size) - 4rem);
    align-self: center;
}
#title div > *{ /* inside elements*/
    display: flex;
    align-self: center;
    text-transform: uppercase;
}
#title div > div{
    height: 2rem;
    gap: 2rem;
}
#title div > * + h1{
height: 5rem;
align-items: center;
font-size: clamp(2rem, 3.5vw, 3rem);
word-spacing: 1rem;
}



#about{
    z-index: 2;
    position: sticky;
    top: 70px;
    min-height: 30vh; 
    
}
#about > p{
    text-align: left;
    text-indent: 1.7rem;
    padding-right: 10vw;
}
#skills{
    z-index: 3;
    position: sticky;
    top: 70px;
}
li{
    text-align:left ;
}
#work{
    z-index: 4;
    position: sticky;
    top: 70px;
    height: 40vh;
}
#education{
    z-index: 5;
    position: sticky;
    top: 70px;
    padding: 5vh 0 30vh 0;
}
#projects{
    z-index: 6;
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "title"
    "main";  
}

#projects > div{
    grid-area: main;
    width: 100%;
    max-height: 30vh;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.box{
 margin-top: 10vh;
 background-color: var(--text-color);
 height: fit-content;
 width: 30vw;
 padding-bottom: 1vh;
 text-align: center;
}
.box > *{
    color: rgb(27, 24, 24);
    align-self: center;
    font-size: 0.5rem;
}
.box > svg{
   width: 60%;
    height: auto;
    align-self: flex-start;
    
}


.box:hover{
    animation: glitch 2s  linear infinite;
}
@keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  


 #contact{
    min-height: 50vh;
    z-index: 7;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-left: 10vw;
}
#contact > div{
   grid-area: title; 
   
}

#contact >div ~ *{
    grid-area: main;
    display: flex;
    gap: 2rem;
}

.svg_size{
    width: 1rem;
    height: auto;
    fill: var(--text-color);
    stroke: var(--btn-color);
}


/* scroll animation*/
.block{
    animation: appear linear;
    animation-timeline: view(); /* use when appear (scrool) CAN SEE*/
    animation-range: entry 0% cover 10%;
}
@keyframes appear{
    0%{
        opacity: 0;
        scale: 0; 
    }
    50%{
        opacity: 0;
        scale: 0.5;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}


/*btn*/

.btn{
    border: 1px solid;
    width: fit-content;
    padding: 0.2rem;
    height: 2rem;
    
}
  
.btn:hover{
    transform: scale(1.01);
    background: radial-gradient(#8a8a8a18, #92929236);
}
.x:hover svg{
    transition-duration: 250ms;
    transform: rotate(0.25turn);
}

 @media (width<760px){
    section{
        grid-template-columns: auto;
        grid-template-rows: 100px auto;
        grid-template-areas: "title"
        "main";
        justify-content: center;
    }
    section > h1{
        grid-area: title;
        align-self: flex-start;
    
    }
    #about > p{
        text-align: center;
        text-indent: 1.7rem;
        padding-right: 3vw;
    }
    #projects{
        gap: 10vh;
        
    }
    #projects > h1{

     justify-self: center;
     margin-right: 10vw;
    }
    #projects > div{
        grid-area: main;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    #title div > div{
        padding-right: 1vw;
        height: fit-content;
    }
    
    #Aleksandrs{
        
        margin-left: 1vw;
        border: 0.1px solid;
    }
    #title{
        gap: 0.5rem;
        font-size: 0.9rem;
    }

    
    #right{
        gap: 5px;
        margin-left: 1vw;
    }
    #right + *{
        padding-right: 1vw;
    }
} 