*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    min-height: 100%;
    
    
}
a{
    text-decoration:none;
    color: var(--text-color);
    z-index: 10;
}

:root{
    --text-color: rgb(0, 0, 0);
}
/* nav bar */
#nav{
    display: inline-flex;
    flex-direction: row;
    background-color: rgb(236, 201, 201);
    width: 100%;
    height: 70px;
    align-items: center;
    color: aliceblue;
    position: sticky;
    top: 0;
    z-index: 100;
}
#right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
#right + *{
    margin-left: auto;
    padding-right: 20px;
}

/* main */

section{
    padding: 5vh 0 10vh 0;
    display: grid;
    grid-template-columns: 40vw auto;
    grid-template-areas: "title main";
    color: var(--text-color);
    background-color: beige;  
    height: max-content;
    
}
section > h1{
    color: var(--text-color);
    grid-area: title;
}
section >h1 ~ *{
    grid-area: main;
    display: flex;
    flex-direction: column;
}
#title{
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 70px);
}
#about{
    z-index: 2;
    position: sticky;
    top: 70px;
   
}
#skills{
    z-index: 3;
    position: sticky;
    top: 70px;
    
}
#work{
    z-index: 4;
    position: sticky;
    top: 70px;
    height: 40vh;
}
#education{
    z-index: 5;
    position: sticky;
    top: 70px;
    padding: 5vh 0 30vh 0;
}
#projects{
    z-index: 6;
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "title"
    "main";
    
}
#projects >h1{
    grid-area: title;
    display: inline-flex;
    align-items: center;
}
#projects > div{
    grid-area: main;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row ;
    gap: 5rem;
    height: 80%;
    width: 100%; 
}
.box{
 height: 80%;
 width: 90%;
 background-color: beige;
 display: flex;
 justify-content: center;
 margin: 0 5% 0 5%;
 border: 1px solid black;
}

#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 7;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
}

/* scroll animation*/
.block{
    animation: appear linear;
    animation-timeline: view(); /* use when appear (scrool) CAN SEE*/
    animation-range: entry 0% cover 30%;
}
@keyframes appear{
    0%{
        opacity: 0;
        scale: 0; 
    }
    50%{
        opacity: 0;
        scale: 0.5;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}



